<!DOCTYPE html>
<html>
<head>
    <title>Options</title>
</head>
<body>
    <table style="padding: 10px; border: 1px solid black;">
        <tbody>
                <tr>
                    <td style="padding: 10px; border: 1px solid black;">
                        <a href="{% url 'system_list' %}">Systems list</a>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 10px; border: 1px solid black;">
                        <a href="{% url 'module_system_list' %}">Modules Systems list</a>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 10px; border: 1px solid black;">
                        <a href="{% url 'permission_module_system_list' %}">Permissions Modules Systems list</a>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 10px; border: 1px solid black;">
                        <a href="{% url 'asign_permissions' %}">Asign Permissions to Users</a>
                    </td>
                </tr>
        </tbody>
    </table>
</body>
</html>